<!DOCTYPE html>
<html>
<head>
    <title>User Query</title>
</head>
<body>
    <h1>Query User Database</h1>
    <form action="/submit-feedback" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="country">Country:</label><br>
        <input type="text" id="country" name="country"><br>
        <label for="enterprise">Enterprise:</label><br>
        <input type="text" id="enterprise" name="enterprise"><br>
        <label for="repositories">Repositories:</label><br>
        <input type="number" id="repositories" name="repositories"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>